---
layout: default
---

<div>
  <p><em>(The Index HTML file)</em></p>
  <h2>Default Post List </h2>
    <ul>
      {% for post in site.posts %}
        <li>
          <span>{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
  <hr>
  <h2>Custom Collections</h2>
  <h3>Testimonials</h3>
  <ul>
    {% for post in site.testimonials %}
      <li>
        <p>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.object-name }}</a>
        </p>
      </li>
    {% endfor %}
  </ul>
  <hr>
  <h3>Projects</h3>
  <ul>
    {% for post in site.projects %}
      <li>
        <p>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.object-name }}</a>
        </p>
      </li>
    {% endfor %}
  </ul>
  <hr>
</div>
