---
layout: default
---

{% assign testimony = site.testimonials | where: "object-name", page.testifier  | first %}

{% assign featured-gallery = site.galleries | where: "title", page.gallery | first %}


<p>this is the <strong>project</strong> layout</p>
<header>
	<h1>{{ page.title }}<span><a href="{{ page.site-url }}"> (view site)</a></span></h1>
  <p>Listing Priority: {{ page.listing-priority }}</p>
	<hr>
</header>

<img class="project-featured-image" src="{{ page.featured-image }}" alt="" />


<div>
	<h2>The Project Content:</h2>
  {{ page.content }}
</div>

<h2>Testimonials:</h2>
<p><em>{{ testimony.content }}</em></p>
<figure>
	<img src="{{ testimony.portrait-image }}" alt="" />
	<figcaption><a href="{{ testimony.testifier-url }}">{{ testimony.title }}</a></figcaption>
</figure>

<p>the gallery associated with this <strong>project</strong> is: <strong>{{page.gallery}}</strong></p>

<p>Featured-Gallery-Content Below: <em>{{ featured-gallery.content }}</em></p>


<h2>Gallery List</h2>
	<ul>
			<li style="border:1px solid pink">
				<img src="{{site.url}}{{ featured-gallery.gallery.image_1.file }}" alt=""></img>
				<span>{{ featured-gallery.gallery.image_1.caption }}</span>
			</li>
			<li style="border:1px solid pink">
				<img src="{{site.url}}{{ featured-gallery.gallery.image_2.file }}" alt=""></img>
				<span>{{ featured-gallery.gallery.image_1.caption }}</span>
			</li>
			<li style="border:1px solid pink">
				<img src="{{site.url}}{{ featured-gallery.gallery.image_3.file }}" alt=""></img>
				<span>{{ featured-gallery.gallery.image_1.caption }}</span>
			</li>
			<li style="border:1px solid pink">
				<img src="{{site.url}}{{ featured-gallery.gallery.image_4.file }}" alt=""></img>
				<span>{{ featured-gallery.gallery.image_1.caption }}</span>
			</li>
			<li style="border:1px solid pink">
				<img src="{{site.url}}{{ featured-gallery.gallery.image_5.file }}" alt=""></img>
				<span>{{ featured-gallery.gallery.image_1.caption }}</span>
			</li>
			<li style="border:1px solid pink">
				<img src="{{site.url}}{{ featured-gallery.gallery.image_6.file }}" alt=""></img>
				<span>{{ featured-gallery.gallery.image_1.caption }}</span>
			</li>
</ul>

<p>the testimonial associated with this <strong>project</strong> is: <strong>{{testimony.title}}</strong></p>
